/* Plain CSS*/
.background-pattern-rhombus{
  background-color: rgba(11,18,35,0.6);
  background: repeating-linear-gradient(20deg, rgba(134, 134, 136, 0.2), rgba(134, 134, 136, 0.5) 0.2px, rgba(11,18,35,0.2) 1px, rgba(11,18,35,0.2) 200px );
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:rgb(88, 159, 104, 0.8);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:rgba(88, 159, 104);
}
